/**
 * Main screen CSS for Exportance theme.
 * (C) Joonas From, 2014, http://www.tulikukka.com/
 **/

@import url("reset.css");
@import url("content.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Arvo");

/**
 * Basic styles. These are overrides and additions for content.css
 **/

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	background-color: #FBFBFB;
	color: #383838;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arvo", serif;
}

a { text-decoration: none; }

a:link,
a:visited { color: #4972B7; }

a:hover { text-decoration: underline; }

pre, code {
	background-color: #E7E7E7;
}

blockquote {
	background-color: #E7E7E7;
	border-left: 0.5em solid #BEBEBE;
}

hr {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

/**
 * Body parts (tsihihi)
 **/

body > header {
	background-color: #383838;
	background-size: cover;
	text-align: center;
	padding: 5rem 5%;
	color: #F3F3F3;
}

body > main {
	margin: 3rem auto 3rem auto;
}

body > footer {
	background-color: #E1E1E1;
	color: #383838;
	padding: 1rem;
}

/**
 * Special styles
 **/

/* Blog logo handling */
body > header img {
	max-width: 25%;
}

/* Link color overrides */
body > header a:link,
body > header a:visited,
body > header a:hover,
body > footer a:link,
body > footer a:visited,
body > main h2 a:link,
body > main h2 a:visited,
body > main .tags a:link,
body > main .tags a:visited,
body > main .author a:link,
body > main .author a:visited {
	color: inherit;
}

body > footer a:hover,
body > main h2 a:hover,
body > main .tags a:hover,
body > main .author a:hover {
	color: #4972B7;
	text-decoration: underline;
}

body > footer > * {
	display: block;
	margin: 0;
}

/* Meta information of posts */
.meta {
	margin-bottom: 1rem;
}

.meta > * {
	font-size: 1.5rem;
	color: #808080;
	margin: 0;
}

.meta > *:before {
	margin-right: 1rem;
}

.meta .date:before {
	content: "⌚";
}

.meta .tags:before {
	content: "#";
}

.meta .author:before {
	content: "✎";
}

/* Adding dots to a summary */
.summary > *:last-child:after {
	content: "...";
}

/* Pagination */
.pagination {
	position: relative;
}

.pagination .newer-posts {
	position: absolute;
	left: 0;
	top: 0;
}
.pagination .older-posts {
	position: absolute;
	right: 0;
	top: 0;
}

.pagination .page-number {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;
}

/** Other links **/

.post .read-more { color: #4972B7; }

.post .read-more:hover { text-decoration: underline; }

/** "Responsive" stuff **/

@media only screen and (max-width: 900px) {
	body > main {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media only screen and (min-width: 900px) {
	body > main {
		max-width: 800px;
	}
	
	body > footer > * {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}
}

/**
 * Something completely different
 **/

blockquote p:last-child { margin: 0; } /* Ghost wants to put p tags inside blockquotes. FYNE! */