@import url("reset.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Arvo");

/** Default styles for everything **/

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	background-color: #FBFBFB;
	color: #383838;
	line-height: 1.5;
}

/** Basic styles **/

h1, h2, h3, h4, h5, h6 {
	font-family: "Arvo", serif;
	line-height: 1.25;
}

h1 {
	font-size: 5rem;
	letter-spacing: -5px;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.5rem;
}

p, ul, ol, dl, blockquote, pre {
	margin: 0 0 2rem 0;
}

em { font-style: italic; }

strong { font-weight: bold; }

li { margin-left: 2em; }

ul li { list-style-type: disc; }

li ul, li ol { margin: 0; } /* Nested lists */

ol li { list-style-type: decimal; }

a { text-decoration: none; }

a:link { color: #0080FF; }

a:hover { color: #6CF; }

a:visited { color: #800080; }

img { max-width: 100%; }

pre, code {
	background-color: #E7E7E7;
	font-family: monospace;
	font-size: 1.25rem;
}

pre {
	padding: 1rem;
}

blockquote {
	font-size: 2rem;
	padding: 1em;
	background-color: #E7E7E7;
	border-left: 10px solid #BEBEBE;
	quotes: "\201C""\201D""\2018""\2019";
}

hr {
	height: 0;
	border: 0;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

/** Body parts (tsihihi) **/

body > header {
	background-color: #E7E7E7;
	background-size: cover;
	text-align: center;
	padding: 100px 5%;
}

body > main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
}

body > footer {
	background-color: #383838;
	padding: 5%;
	color: #F0F0F0;
}

/** Special styles **/
body > header img {
	max-width: 25%;
}

body > header a:link,
body > header a:visited {
	color: #383838;
}

.meta {
	margin-bottom: 20px;
}

.meta > * {
	font-size: 1.5rem;
	color: #BEBEBE;
	margin: 0;
}

.meta > *:before {
	margin-right: 1rem;
}

.meta .date:before {
	content: "⌚";
}

.meta .tags:before {
	content: "#";
}

.meta .author:before {
	content: "✎";
}

/** Responsive stuff **/

@media only screen and (max-width: 900px) {
	body > main {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media only screen and (min-width: 900px) {
	body > main {
		max-width: 800px;
	}
}

/** Something completely different **/

/* Ghost wants to put p tags inside blockquotes */
blockquote p:last-child { margin: 0; }

blockquote:before {
	content: open-quote;
	float: left;
	font-size: 4rem;
	margin-top: -1.5rem;
}